<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fop2DD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fop2DD.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>4445</value>
            </setting>
            <setting name="PingInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="PBXContext" serializeAs="String">
                <value>mycontext</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>mysecret</value>
            </setting>
            <setting name="FOP2Url" serializeAs="String">
                <value>http://192.168.1.10/fop2/?context=%CONTEXT%&amp;exten=%USER%&amp;pass=%PASS%</value>
            </setting>
            <setting name="GrabMinLength" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ConnectTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GlobalDialHotkey" serializeAs="String">
                <value>Control + F8</value>
            </setting>
            <setting name="DialCmd_File" serializeAs="String">
                <value>https://www.google.com/search?q=%PHONENUMBER%</value>
            </setting>
            <setting name="DialCmd_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="DialCmd_WorkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DialCmd_MinLength" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FOP2UserPortal" serializeAs="String">
                <value>https://192.168.1.10:10000/session_login.cgi?user=%CONTEXT%-%USER%&amp;pass=%PASS%</value>
            </setting>
        </Fop2DD.Properties.Settings>
    </userSettings>
</configuration>