<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- See https://github.com/nlog/nlog/wiki#configuration-reference for more information on this file -->
  
  <!--
  <targets async="true"> 
      <target name="logfile" xsi:type="File" fileName="${specialfolder:LocalApplicationData}/KeenSystems_B.V/Fop2DD_Logs/ddlog.txt" />
      <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,debugger" />
  </rules>
  -->
</nlog>